<!DOCTYPE html>
<html lang="en" ng-app="adminApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rackio Framework - Web Admin</title>

    <!-- CSS  -->
    <link href="/static/css/angular-material.css" rel="stylesheet">
    <link href="/static/css/chartist.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
</head>
<body>
    <!-- Javascript -->
    <!--  Scripts-->
    <script src="/static/js/angular.js"></script>
    <script src="/static/js/angular-route.js"></script>
    <script src="/static/js/angular-animate.js"></script>
    <script src="/static/js/angular-aria.js"></script>
    <script src="/static/js/angular-messages.js"></script>

    <script src="/static/js/angular-material.js"></script>
    
    <script src="/static/js/chartist.js"></script>
    <script src="/static/js/moment.js"></script>

    <script src="/static/js/adminApp.module.js"></script>
    <script src="/static/js/adminApp.config.js"></script>

    <script src="/static/js/summary.module.js"></script>
    <script src="/static/js/summary.component.js"></script>

    <script src="/static/js/factories.js"></script>

    <nav role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Rackio Framework - Admin</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Navbar Link</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <ul id="slide-out" class="sidenav">
        <li><div class="user-view">
            <div class="background">
            <img src="images/office.jpg">
            </div>
            <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
            <a href="#name"><span class="white-text name">John Doe</span></a>
            <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div></li>
        <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
        <li><a href="#!">Second Link</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

    <div class="container">
        <div ng-view></div>
    </div>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
            });
        
            // Initialize collapsible (uncomment the lines below if you use the dropdown variation)
            // var collapsibleElem = document.querySelector('.collapsible');
            // var collapsibleInstance = M.Collapsible.init(collapsibleElem, options);
        
            // Or with jQuery
        
            $(document).ready(function(){
                $('.sidenav').sidenav();
            });
    </script>
  </body>
</html>
