<!doctype html>
<html class="no-js" ng-app="angularMaterialAdmin">
    <head>
        <meta charset="utf-8">
        <title>Angular Material Dashboard</title>
        <meta name="description" content="Angular admin dashboard with material design">
        <meta name="author" content="flatlogic.com">
        <meta name="viewport" content="width=device-width">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <!-- Javascript -->
        <!--  Scripts-->
        <script src="/static/js/angular.js"></script>
        <script src="/static/js/angular-route.js"></script>
        <script src="/static/js/angular-animate.js"></script>
        <script src="/static/js/angular-aria.js"></script>
        <script src="/static/js/angular-messages.js"></script>
        <script src="/static/js/svg-assets-cache.js"></script>

        <script src="/static/js/app.js"></script>
        <script src="/static/js/app.spec.js"></script>
        <script src="/static/js/index.js"></script>

        <div class="container">
            <div ng-view></div>
        </div>

    </body>
</html>