falcon==2.0.0
falcon-multipart==0.2.0
falcon-auth==1.1.0
falcon-cors==1.1.7
pyBigParser==2.1
peewee==3.9.6
python-statemachine==0.7.1
waitress==2.1.2
Jinja2==3.1.3
PyYAML==5.4
psycopg2==2.8.4
Click==7.0
python-dotenv==0.18.0 