body {
  color: #7A7A7A;
}
.toolbar-button {
  min-width: 20px;
}
.share-label {
  vert-align: middle;
  margin-left: 10px;
}
.page-content {
  background-color: #ECECEC;
}
.widget-progress {
  width: 95% !important;
  margin-left: 10px;
}
.capitalize {
  text-transform: capitalize;
}
.img-circle {
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
}
.messages {
  position: relative;
}
.messages-content {
  height: 100vh;
}
.notifications-label {
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  font-size: 12px;
  top: 2px;
  right: 2px;
  background-color: #E75753;
}
.panel-widget {
  background-color: white;
}
.panel-widget-toolbar {
  box-shadow: none;
  margin: 0;
}
.panel-widget-tittle {
  color: #7A7A7A;
}
.options {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.options.ng-hide {
  opacity: 0;
}
.fixed-height-widget {
  height: 310px;
}
.donut-chart-title {
  text-align: center;
}
.custom-tooltip {
  font-size: 22px;
  color: #7A7A7A;
  text-align: center;
}
md-radio-group {
  border: none;
}
md-icon {
  height: auto;
}
md-sidenav.md-locked-open.md-sidenav-left {
  width: 110px;
  min-width: 110px;
  max-width: 110px;
}
a.md-button.md-warn.md-raised, a.md-button.md-warn.md-fab, .md-button.md-warn.md-raised, .md-button.md-warn.md-fab {
  color: white;
}
md-radio-button.md-accent.md-checked .md-label span {
  color: #009688;
}
.md-toolbar-tools h1 {
  font-size: 22px;
}
md-backdrop.md-sidenav-backdrop {
  position: fixed;
}
.material-icons {
  vertical-align: middle;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.nvd3.nv-pie .nv-pie-title {
  fill: #444;
  font-weight: 600;
  font-size: 22px !important;
}
.nvtooltip {
  background-color: transparent;
  border: none;
  font-weight: 600;
}
.orange .md-bar2 {
  background-color: orange;
}
.orange .md-container {
  background-color: #ffecc9;
}
